.tab-content__container {
  height: 100%;
  padding: 10px;
  position: relative;
}

.tab-content__no-tab {
  height: 100%;
  color: var(--text-color);
}

.tab-content__title-container {
  height: 50px;
  position: relative;
}

.tab-content__title-input,
.tab-content-input {
  width: 100%;
  border: 0;
  height: 30px;
  background-color: var(--tab-inactive-bg);
  position: absolute;
  left: 0;
  top: 20px;
  outline: none;
  border-radius: 6px;
}

label {
  position: absolute;
  transform: unset;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
  background-color: var(--tab-theme-bg);
  padding: 2px 4px;
  border-radius: 4px;
  margin-top: -2px;
  color: var(--text-color);
}

input.empty:not(:focus) + label,
textarea.empty:not(:focus) + label {
  transform: translate(4px, 24px);
  font-size: 16px;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  background-color: unset;
  padding: unset;
  border-radius: unset;
  color: unset;
}

.tab-content {
  height: calc(100% - 80px);
  position: relative;
  margin-top: 10px;
}

.tab-content-input {
  height: 100%;
  resize: none;
}

.save-status {
  color: #19ff00;
  background: black;
  position: absolute;
  right: 12px;
  top: 4px;
  padding: 2px 6px;
  border-radius: 6px;
}

.save-status.show {
  opacity: 1;
}

.save-status.hide {
  animation: hide 1s ease-out 1s forwards;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
