.sidepanel__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: all 0.2s ease-in-out;
}

.sidepanel__overlay.visible {
  opacity: 1;
  visibility: visible;
  transform: unset;
}

.sidepanel {
  height: calc(100% - 40px);
  margin-top: 40px;
  width: 240px;
  background-color: var(--primary-bg);
  box-shadow: var(--shadow);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.folder-list {
  flex-grow: 1;
  overflow: auto;
}

.panel-item {
  padding: 7px 8px;
}

.folder-container {
  background-color: var(--tab-inactive-bg);
  border-radius: var(--outer-curve-size-half);
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-inset);
}

.folder-container.active {
  background-color: var(--tab-theme-bg);
}

.folder-container.active .folder-notes-count {
  background-color: var(--tab-inactive-bg);
  color: black;
}

.folder-name {
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.folder-container.active .folder-name {
  color: var(--text-color);
}

.folder-add {
  background-color: var(--tab-add-bg);
  width: 50px;
  height: 30px;
  border-radius: var(--outer-curve-size-half);
  font-size: 26px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h3 {
  font-size: 20px;
}

.folder-close {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  transform: rotate(45deg);
  padding: 0;
  padding-bottom: 4px;
  color: black;
  font-weight: bold;
}

.folder-container.active .folder-close,
.folder-container.active .folder-rename {
  filter: var(--icon-filter);
}

.folder-close:hover,
.folder-rename:hover {
  border-radius: 50%;
  background-color: #0000002f;
}

.folder-controls {
  display: flex;
  align-items: center;
  gap: 6px;
}

.folder-rename {
  width: 16px;
  height: 16px;
}

.folder-notes-count {
  font-size: 10px;
  background-color: var(--tab-theme-bg);
  color: var(--text-color);
  height: 16px;
  min-width: 24px;
  padding: 0 2px;
  border-radius: 6px;
}

.folder-rename-input {
  width: 100%;
}
