.sidepanel {
  height: calc(100% - 40px);
  margin-top: 40px;
  width: 240px;
  background-color: var(--primary-bg);
  box-shadow: var(--shadow);
  color: var(--text-color);
  display: flex;
  flex-direction: column;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 0.2s ease-in-out;
    &.visible {
      opacity: 1;
      visibility: visible;
      transform: unset;
    }
  }
}

.folder-list {
  flex-grow: 1;
  overflow: auto;
}

.panel-item {
  padding: 7px 8px;
}

.folder {
  &-container {
    background-color: var(--tab-inactive-bg);
    border-radius: var(--outer-curve-size-half);
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow-inset);

    &.active {
      background-color: var(--tab-theme-bg);
      & .folder-notes-count {
        background-color: var(--tab-inactive-bg);
        color: black;
      }
      & .folder-name {
        color: var(--text-color);
      }
      & .folder-rename,
      & .folder-close {
        filter: var(--icon-filter);
      }
    }
  }

  &-name {
    font-size: 14px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
  }
  &-add {
    background-color: var(--tab-add-bg);
    width: 50px;
    height: 30px;
    border-radius: var(--outer-curve-size-half);
    font-size: 26px;
  }
  &-close {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    transform: rotate(45deg);
    padding: 0;
    padding-bottom: 4px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    &:hover {
      border-radius: 50%;
      background-color: #0000002f;
    }
  }
  &-controls {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &-rename {
    width: 16px;
    height: 16px;
    &:hover {
      border-radius: 50%;
      background-color: #0000002f;
    }
  }
  &-notes-count {
    font-size: 10px;
    background-color: var(--tab-theme-bg);
    color: var(--text-color);
    height: 16px;
    min-width: 24px;
    padding: 0 2px;
    border-radius: 6px;
  }
  &-rename-input {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  & h3 {
    font-size: 20px;
  }
}
