.Note {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--primary-bg);
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  transition: width 0.2s ease-in-out, margin-left 0.2s ease-in-out;

  &.sidepanel-active {
    width: calc(100% - 240px);
    margin-left: 240px;
    transition: width 0.4s ease-in-out, margin-left 0.4s ease-in-out;
  }
}

.save-status {
  color: #19ff00;
  background: black;
  position: absolute;
  right: 12px;
  top: 44px;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 12px;

  &.error {
    color: red;
  }
}
