.Note {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--primary-bg);
  position: relative;
}

.save-status {
  color: #19ff00;
  background: black;
  position: absolute;
  right: 12px;
  top: 42px;
  padding: 2px 6px;
  border-radius: 6px;
}

.save-status.error {
  color: red;
}
